<!DOCTYPE html>
<html >
<%include partials/head %>
<body>
  <% include partials/loader %>
  <div class="wspecs">
    <% include partials/landing %>
    <% include partials/welcome %>
    <% include partials/blog %>
    <% include partials/app %>
    <% include partials/quote %>
    <% include partials/services %>
    <% include partials/contact %>
    <% include partials/footer %>
  </div>

  <% include partials/script %>
</body>
</html>
