<div id="apps">
  <div class="container">
    <h2>Latest App</h2>
    <div class="row">
      <div class="col-1-3">
        <h3>Title</h3>
        <h4>Type</h4>
        <p>Summary</p>
        <div class="features">
          <span><i class="icono-check"></i> Feature 1</span>
        </div>
        <a href="LINK" class="action-button" target="_blank">Take A Look &raquo;</a>
      </div>
      <div class="col-2-3">
        <img alt="Latest Application" width="100%">
      </div>
    </div>
  </div>
</div>
