<div id="contact">
  <!-- <div class="container">
    <div class="row">
      <h3>Contact Us</h3>
      <div class="col-1-2">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Title">
      </div>
      <div class="col-1-2">
        <textarea id="" rows="8" placeholder="Message"></textarea>
      </div>
      <div class="submit">
        <button>Submit</button>
      </div>
    </div>
  </div> -->
</div>