<div class="top-bar" id="home"></div>
<div class="landing">
  <div class="header">
    <img src="img/logo.png" alt="" class="logo">
    <div class="right">
      <nav>
        <ul>
          <%include menu %>
        </ul>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="welcome">
      <div class="center">
        <h1></h1>
        <p></p>
      </div>
      <div class="bottom">
        <button id="triangle" class="scroll" name="#welcome"></button>
      </div>
    </div>
  </div>
</div>
