<div class="loader_page">
  <div class="console">
    <div class="past-line"></div> 
    <div class="line"></div>
  </div>

  <div class="loader-container">
    <div class="view">
      <div class="plane-loader main">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>