<div id="quotes">
  <div class="container">
    <h2>Quote du Jour</h2>  
    <div class="info">
      <h3><%= home.quote.quote%></h3>
      <p><span><%= home.quote.author%></span> <%= home.quote.info%></p>
    </div>
  </div>
</div>